<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoJen NFT Project</title>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.min.css"
        integrity="sha512-B0mpFwHOmRf8OK4U2MBOhv9W1nbPw/i3W1nBERvMZaTWd3+j+blGbOyv3w1vJgcy3cYhzwgw1ny+TzWICN35Xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="/styles/style.css" rel="stylesheet">

</head>

<body>
    <header>
        <div id="banner">
            <nav role="navigation">
                <div class="row">
                    <div class="col">
                        <div id="menuToggle">
                            <input id="chkMenu" type="checkbox" />

                            <span></span>
                            <span></span>
                            <span></span>

                            <ul id="menu">
                                <a href="#divAbout" onclick="hideMenu()">
                                    <li>About</li>
                                </a>
                                <a href="#divRoadMap" onclick="hideMenu()">
                                    <li>Road Map</li>
                                </a>
                                <a href="#divCryptoJen" onclick="hideMenu()">
                                    <li>CryptoJen</li>
                                </a>
                                <a href="#divTeam" onclick="hideMenu()">
                                    <li>Team</li>
                                </a>
                                <a href="#divCommunity" onclick="hideMenu()">
                                    <li>Community</li>
                                </a>
                                <a href="#divFAQ" onclick="hideMenu()">
                                    <li>FAQ</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div id="divLogo">CryptoJen</div>
                    </div>
                    <div class="col">
                        <div class="divSocialLinks">
                            <a href="https://opensea.io/JenCrypto"" target=" _blank">
                                <img src="/images/opensea32x32.png">
                            </a>
                            <a href="https://discord.gg/mrqAtQzftR" target="_blank">
                                <img src="/images/discord32x32.png">
                            </a>
                            <a href="https://twitter.com/CryptoJennft" target="_blank">
                                <img src="/images/twitter32x32.png">
                            </a>
                            <a href="https://www.instagram.com/cryptojennft" target="_blank">
                                <img src="/images/instagram32x32.png">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="bannerSpace">
                &nbsp;
            </div>
            <div class="row">
                <div class="col">
                    <img src="/images/3209.png" class="bannerChars" />
                </div>
                <div class="col">
                    <img src="/images/6.png" class="bannerChars" />
                </div>
                <div class="col">
                    <img src="/images/4.png" class="bannerChars" />
                </div>
                <div class="col">
                    <img src="/images/5.png" class="bannerChars" />
                </div>
            </div>
        </div>
    </header>


    <main>
        <div id="divAbout">
            <div class="container">
                <h1 class="headers">ABOUT</h1>
                <p>
                    CryptoJen is an unique multi-value collection stored on Polygon Blockchain as ERC-721 Tokens and
                    hosted on IPFS. The original resolution of 3333 CryptoJen, which is different from each other,
                    is
                    32x32 bits. Optimized to 512X512 pixels. It is combined with the help of Hashlips' special code.
                </p>

                <p>
                    The stories of the characters are very special. The characters contain the story of the person
                    who
                    bought it. In other words, they are your digital reflection. Treat them as your own. People who
                    own
                    a unique and very special collection of crypto-Jen will be VIP by the manufacturer. Aiming to
                    establish a company in
                    the future, the manufacturer will exclusively host collectors with the most valuable
                    collections.
                    </br>
                    All collectors will have the right to enter the preliminary list of future projects to reach
                    white
                    list sales. Thanks to you, our valuable supporters, we will make the project very profitable in
                    a
                    short time. Me and my team worked hard for this job. We will continue to work for you by going a
                    long way with very little sleep.
                </p>
            </div>
        </div>
        <div id="divRoadMap">
            <div class="container">
                <h1 class="headers">Road Map</h1>
                <div class="rb-container">
                    <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">100 item sold</div>
                            <div class="item-title">Random 5 NFT will be gifted in CryptoJen Club Discord Channel
                            </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">CryptoJen Club Discord Channel has 1000 user</div>
                            <div class="item-title">Random 10 NFT will be gifted</div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">555 item sold</div>
                            <div class="item-title">Random 15 NFT will be gifted</div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">1111 item sold</div>
                            <div class="item-title">The names of the 5 most valuable item collectors will be
                                mentioned in our animation movie</div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">2222 item sold</div>
                            <div class="item-title">The 2 most valuable item collectors will be invited to Istanbul
                                for a 3 days free trip</div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                            <div class="timestamp">3333 item sold out</div>
                            <div class="item-title">Extremely Surprise Party!</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="divCryptoJen">
            <h1 class="headers">CryptoJen</h1>
            <h3>Your cute heroes are waiting for you now.Get a cute hero now!</h6>
                <div class="carousel" data-flickity='{ "autoPlay": true, "wrapAround": true }'>

                    <div class="carousel-cell">
                        <img src="/images/1774.png" class="carouselChars" />
                    </div>

                    <div class="carousel-cell">
                        <img src="/images/1683.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/1847.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/1890.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/1727.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/1808.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/2086.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/2327.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/2349.png" class="carouselChars" />
                    </div>
                    <div class="carousel-cell">
                        <img src="/images/1776.png" class="carouselChars" />
                    </div>

                </div>
        </div>
        <div id="divTeam">
            <div class="container">
                <h1 class="headers">Team</h1>
                <div class="row">
                    <div class="col">
                        <a href="https://instagram.com/meyus010" target="_blank">
                            <img src="/images/meyusa.png" width="100%" />
                            <h4 class="teamMember">Artist @meyus</h2>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/atesdanis" target="_blank">
                            <img src="/images/atesdanis.png" width="100%" />
                            <h4 class="teamMember">Developer @atesdanis</h2>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://instagram.com/chapo.js" target="_blank">
                            <img src="/images/veronica.png" width="100%" />
                            <h4 class="teamMember">Investor @veronica</h2>
                        </a>
                    </div>
                    <div class="col">
                        <img src="/images/exejen.png" width="100%" />
                        <h4 class="teamMember">Designer @exejen</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="divCommunity">
            <div class="container">
                <h1 class="headers">Join Our Community</h1>
                <div class="row">
                    <div class="col">
                        <img src="/images/community.png" width="300px" />
                    </div>
                    <div class="col">
                        <p>
                            Together, let’s build the best exclusive club never seen before. Show to the world how
                            strong and influent we are. Let’s
                            take over the NFT World.
                        </p>
                        <button class="btnDiscord" onclick="location.href='https://discord.gg/mrqAtQzftR';">Join
                            Now</button>

                    </div>
                </div>
            </div>
        </div>
        <div id="divFAQ">
            <div class="container">
                <h1 class="headers">FAQ</h1>
                <details class="faq-card">
                    <summary>What’s an NFT?<span class="faq-open-icon">+</span>
                    </summary>
                    <span class="faq-card-spoiler">NFT stands for “non-fungible token” — a fancy way of saying it’s a
                        unique,
                        one-of-a-kind digital item that users can buy, own, and trade. Some NFTs’
                        main functions are to be digital art and to look cool; some offer additional utility,
                        like exclusive access to websites or participation in an event.
                        Think of NFTs as rare pieces of art that can also act as a “member’s card”.</span>
                </details>
                <details class="faq-card">
                    <summary>Why Polygon Network? <span class="faq-open-icon">+</span>
                    </summary>
                    <span class="faq-card-spoiler">We preferred the polygon network because we were uncomfortable with
                        people
                        paying very high gas fees in the purchasing part.The current market situation
                        is really pushing some people to buy works.
                        We want our works to reach everyone.</span>
                </details>
                <details class="faq-card">
                    <summary>What is Metamask? <span class="faq-open-icon">+</span>
                    </summary>
                    <span class="faq-card-spoiler">Metamask is a crypto wallet that stores your Ethereum.
                        It’s needed to purchase and mint a Cool Cat. Having a wallet gives you an Ethereum
                        address (i.e. 0xABCD….1234), which is also where your NFT is stored. Learn more about
                        Metamask and how easy it is to use <a href="https://metamask.io"
                            target="_blank">here.</a></span>
                </details>
                <details class="faq-card">
                    <summary>Is the project profitable?<span class="faq-open-icon">+</span></summary>
                    <span class="faq-card-spoiler">It's your decision but we think we will influence your decision.Our
                        steps are ready for this
                        project to make a very high profit.Our aim is to evaluate the work we do.Our goal is to
                        establish
                        a company and spend all of our profits in this business.We aimed to be a rising value on this
                        path.
                        Until this goal is achieved, no one but God can stop us. Trust us!</span>
                </details>
                <details class="faq-card">
                    <summary>How to get one? <span class="faq-open-icon">+</span></summary>
                    <span class="faq-card-spoiler">You can see a list of all CryptoJens currently for sale on <a
                            href="https://opensea.io/JenCrypto" target="_blank">OpenSea.</a></span>
                </details>
                <details class="faq-card">
                    <summary>Who we are? <span class="faq-open-icon">+</span></summary>
                    <span class="faq-card-spoiler">We are a group of friends who love the digital universe.
                        Our goal is to create a value for ourselves that we can walk this path
                        and to provide profit to you, our valued investors, who walk with us on this road.
                        We aim to grow without retreating on this path by connecting all our investments to the company.
                        We are sure you will love us.All you have to do is keep our works in your wallet.
                        We love you and always want to be a valuable part of you.
                    </span>
                </details>
                <h2 class="faq-heading">Still have questions?</h2>
                <p class="faq-aftertext">If you cannot find answer to your question in our FAQ, you can always<br>
                    contact us. We will answer shortly!
                </p>
                <button class="btnDiscord" onclick="location.href='https://discord.gg/mrqAtQzftR';">Join Now</button>
                </br>
                </br>

            </div>
        </div>
        </br>
        </br>
        </br>
        <div id="divCopyright">
            <div class="container">
                <a href="http://www.losmedia.com" target="_blank"><img
                        src="https://losmedia.com/wp-content/uploads/2021/12/los3beyazbg2-300x132-2.png" width="100px"
                        alt="Designed by Losmedia Interactive Media Agency"
                        title="Designed by Losmedia Interactive Media Agency"></a>
            </div>
        </div>
        </br>
    </main>


    <script src="/scripts/script.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.pkgd.min.js"
        integrity="sha512-+m9auGg9ZwnDc37W8RSsLhzKBLVOYsf5BKzSpYrYhQQk6hItXOhBFKHuHbMCpoABCUO6l4HVK+dFwxMIME3E7Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>

</body>

</html>